.container {
  margin-top: 35px;
  width: 70%;
  display: flex;
  flex-direction: column;
}

.title-big {
  font-size: 2.25rem;
  font-weight: 200;
  margin: 0;
}

.title-medium {
  font-size: 2.25rem;
  font-weight: 500;
  margin: 0;
}