.container {
  width: 70%;
}

.content {
  display: flex;
  gap: 8px;
}

.listUL {
  display: flex;
  flex-direction: column;
  gap: 15px;
  list-style: none;
}

.titleCard {
  width: 125px;
  font-size: 1.25rem;
  font-weight: 500;
}

.containerRutina {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 110px;
  background-color: #E1DCFB;
  border-radius: 20px;
}

.containerRutina2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 110px;
  background-color: #fbe8dc;
  border-radius: 20px;
}

.contentRutina {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.titleRutina {
  font-size: 0.875rem;
  font-weight: 600;
  color: #262626;
  margin: 0;
}

.subtitleRutina {
  margin: 0;
  font-size: 0.75rem;
  color: var(--colorSubText);
}